
<div>
    <h2><span data-translate="printarchiverApp.printJob.detail.title">Print Job</span> {{vm.printJob.id}} - {{vm.pageIndex}}. sayfa - 
    <span data-translate="{{'printarchiverApp.ResultStatus.' + vm.selectedPrintJobPage.resultStatus}}">{{printJob.resultStatus}}</span>
       
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    
   <button type="button" class="btn btn-primary" ng-click="vm.previous()">
        <span class="hidden-sm-down" data-translate="entity.action.previous"> Edit</span>
    </button>
    <button type="button" class="btn btn-primary" ng-click="vm.next()">
        <span class="hidden-sm-down" data-translate="entity.action.next"> Edit</span>
    </button>
    <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.showOnlyUnsafePage"/>
    <span data-translate="printarchiverApp.printJob.showOnlyUnsafePage">{{printJob.resultStatus}}</span>
                          
    <div class="row">
    	<div class="col-xs-4">
    		<img id="view" ng-click="vm.zoom()" ng-src="api/print-job-pages/image?id={{vm.selectedPrintJobPage.id}}" alt="Description" width="300px" height="420px"/>
    	</div>
    	
    	<div class="col-xs-4">
    		
    		<div ng-bind-html="vm.context"></div>    
    	</div>
    </div>
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="print-job-detail.edit({id:vm.printJob.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
