<div>
    <h2 data-translate="printarchiverApp.printJob.home.title">Print Jobs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="print-job.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="printarchiverApp.printJob.home.createLabel">
                        Create new Print Job
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="printerJobLogId"><span data-translate="printarchiverApp.printJob.printerJobLogId">Printer Job Log Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="printDate"><span data-translate="printarchiverApp.printJob.printDate">Print Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="printarchiverApp.printJob.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userName"><span data-translate="printarchiverApp.printJob.userName">User Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="printerId"><span data-translate="printarchiverApp.printJob.printerId">Printer Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="printerName"><span data-translate="printarchiverApp.printJob.printerName">Printer Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pageCount"><span data-translate="printarchiverApp.printJob.pageCount">Page Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="documentName"><span data-translate="printarchiverApp.printJob.documentName">Document Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clientMachine"><span data-translate="printarchiverApp.printJob.clientMachine">Client Machine</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobId"><span data-translate="printarchiverApp.printJob.jobId">Job Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="archivePath"><span data-translate="printarchiverApp.printJob.archivePath">Archive Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="processStatus"><span data-translate="printarchiverApp.printJob.processStatus">Process Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resultStatus"><span data-translate="printarchiverApp.printJob.resultStatus">Result Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="printJob in vm.printJobs track by printJob.id">
                    <td><a ui-sref="print-job-detail({id:printJob.id})">{{printJob.id}}</a></td>
                    <td>{{printJob.printerJobLogId}}</td>
                        <td>{{printJob.printDate | date:'mediumDate'}}</td>
                    <td>{{printJob.userId}}</td>
                    <td>{{printJob.userName}}</td>
                    <td>{{printJob.printerId}}</td>
                    <td>{{printJob.printerName}}</td>
                    <td>{{printJob.pageCount}}</td>
                    <td>{{printJob.documentName}}</td>
                    <td>{{printJob.clientMachine}}</td>
                    <td>{{printJob.jobId}}</td>
                    <td>{{printJob.archivePath}}</td>
                    <td data-translate="{{'printarchiverApp.ProcessStatus.' + printJob.processStatus}}">{{printJob.processStatus}}</td>
                    <td data-translate="{{'printarchiverApp.ResultStatus.' + printJob.resultStatus}}">{{printJob.resultStatus}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="print-job-detail({id:printJob.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="print-job.edit({id:printJob.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="print-job.delete({id:printJob.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
