
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPrintJobPageLabel" data-translate="printarchiverApp.printJobPage.home.createOrEditLabel">Create or edit a Print Job Page</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.printJobPage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.printJobPage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.pageName" for="field_pageName">Page Name</label>
            <input type="text" class="form-control" name="pageName" id="field_pageName"
                    ng-model="vm.printJobPage.pageName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.pagePath" for="field_pagePath">Page Path</label>
            <input type="text" class="form-control" name="pagePath" id="field_pagePath"
                    ng-model="vm.printJobPage.pagePath"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.index" for="field_index">Index</label>
            <input type="number" class="form-control" name="index" id="field_index"
                    ng-model="vm.printJobPage.index"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.resultStatus" for="field_resultStatus">Result Status</label>
            <select class="form-control" name="resultStatus" ng-model="vm.printJobPage.resultStatus" id="field_resultStatus">
                <option value="SAFETY" data-translate="printarchiverApp.ResultStatus.SAFETY">SAFETY</option>
                <option value="NOT_SAFETY" data-translate="printarchiverApp.ResultStatus.NOT_SAFETY">NOT_SAFETY</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.restrictedKeywords" for="field_restrictedKeywords">Restricted Keywords</label>
            <input type="text" class="form-control" name="restrictedKeywords" id="field_restrictedKeywords"
                    ng-model="vm.printJobPage.restrictedKeywords"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.processed" for="field_processed">Processed</label>
                <input type="checkbox" name="processed" id="field_processed"
                          ng-model="vm.printJobPage.processed"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.fileName" for="field_fileName">File Name</label>
            <input type="text" class="form-control" name="fileName" id="field_fileName"
                    ng-model="vm.printJobPage.fileName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="printarchiverApp.printJobPage.exportPath" for="field_exportPath">Export Path</label>
            <input type="text" class="form-control" name="exportPath" id="field_exportPath"
                    ng-model="vm.printJobPage.exportPath"
                    />
        </div>

        <div class="form-group">
            <label data-translate="printarchiverApp.printJobPage.job" for="field_job">Job</label>
            <select class="form-control" id="field_job" name="job" ng-model="vm.printJobPage.job" ng-options="printJob as printJob.id for printJob in vm.printjobs track by printJob.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
